.aboutqigongsection{
    background-color: #fff;
    min-height: 92vh;

}

.aboutqi-img{
    max-height: 40vh;
    max-width: 40vh;
    overflow: hidden;
    
}

.Card1Mobile{
 display: none;
}

.cardSection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    
}

.card{
    width: max(70%, 75vh);
    min-height: 70vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    background-color: #E9F5DB;
    border-radius: 12px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(130,130,130,0.61); 
    box-shadow: 5px 5px 15px 5px rgba(130,130,130,0.61);
    margin-bottom: 4vh;
    margin-top: 4vh;
    z-index: 0;
}

.aboutqi-img{
    //display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    width: 40%;
    margin: 5vh;
    align-items: center;
    
  
}


.aboutqi-text{
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    width: 40%;
    margin: 5vh;
   
    text-align: center;
    
}




/*------------function of slider-------------*/

#slider input[type=radio]{
    display: none;
  
  }

  #slider label{
    cursor: pointer;
    text-decoration: none;
   
    
  } 

  #slides{
      position: relative;
      z-index: 1;
    
  }

  #overflow{
    width: 100%;
    overflow: hidden;
  }
  
  #slide1:checked ~ #slides .inner{
    margin-left: 0;
  }
  #slide2:checked ~ #slides .inner{
    margin-left: -100%;
  }
  #slide3:checked ~ #slides .inner{
    margin-left: -200%;
  }

  #slides .inner {
    transition: margin-left 800ms;
    width: 300%;
    min-height: 82vh;
    
  }
  #slides .slide{
    width: 33.33%;
    float: left;
    display: block;
    height: 100%;
    color: #000;
    
  }

  
  

  
  #controls{
    margin-top: -41vh;
    width: max(65%, 65vh);
    margin-inline: auto;
    //margin-right: 26vh;
    //margin-left: 26vh;
    
    max-width: 100%;
    height: 50px;
    z-index: 10;
    position: relative;
  }
  
  #controls label{
    transition: opacity 0.2s ease-out;
    width: 3vh;
    height: 5vh;
    opacity: .7;
    
   
  }
  
  #controls label:hover{
    opacity: 1;
  }
  
  #slide1:checked ~ #controls label:nth-child(2),
  #slide2:checked ~ #controls label:nth-child(3),
  #slide3:checked ~ #controls label:nth-child(1){
    background: url("../../../assets/images/angle-right.svg") no-repeat;
    background-size: 3vh;
    float: right;
    
    
    display: block;
  }
  
  #slide1:checked ~ #controls label:nth-last-child(1),
  #slide2:checked ~ #controls label:nth-last-child(3),
  #slide3:checked ~ #controls label:nth-last-child(2){
    background: url("../../../assets/images/angle-left.svg") no-repeat;
    background-size: 3vh;
    float: left;
    
    display: block;
  }
  
  #bullets {
    margin: 18vh 0 0;
    text-align: center;
    z-index: 100 ;
    cursor: pointer;
    position: relative;
  }
  #bullets label {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius:100%;
    background: #ccc;
    margin: 0 2vh;
    cursor: pointer;
    
  }
  #slide1:checked ~ #bullets label:nth-child(1),
  #slide2:checked ~ #bullets label:nth-child(2),
  #slide3:checked ~ #bullets label:nth-child(3) {
    background: #444;
  }
 
@media screen and (max-width: 972px){


    .card{
        width: 100%;

    }
    .aboutqi-text{
        width: 80%;
        margin: 2vh;
        
    }
    .aboutqi-img{
        width: 80%;
        margin: 2vh;
      
    }

    #bullets{
      display: none;
    }
    #controls{
      display:none;
      width: 100%;
    }

    #slides .inner {
    width: 100%;
    display: block;
    }

    #slides .slide{
      min-width: 100% !important;
  
      
    }

    .card{
      width: 100% !important;
      margin-bottom: 4vh;
      margin-top: 4vh;
      background-color: #fff;
      box-shadow: none;
    }

    .aboutqi-img{
      display: none;
    }
    .aboutqi-text{
      margin-top: 4vh;
      width: 100%;
      font-size: 2.4vh;
    }

    .Card1Mobile{
      height: 30vh;
      width: 100vh;
      display: block;
      text-align: center;
    }
}

