.welcomesection{
    min-height: 92vh; 
}

.parallax{
    height: 40vh;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    z-index: -1;
    margin-top: .5vh;
    
}

.parallax-mobile{
    display: none;

}

.welcome-content{
    font-size: 2.5vh;
    text-align: center;
    margin-top: 4vh;

}
.welcome-content p{
    margin-top: 1.3vh;
}

.welcome-important-stuff{
    font-size: 3.2vh;
    display: inline-block;
    
    line-height: 5vh;
    text-underline-offset: .5vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.margin-important-stuff{
    margin-top: 3vh;
}


.centered-btn{
    margin: 2vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.parallax-mobile{
    width: 40vh;
}

.welcome-infotext{
    line-height: 2.5vh;
}

.parallax-mobile-sector{
    text-align: center;
}

.welcome-h1{
    padding-bottom: 4vh;
}
@media screen and (max-width: 460px) {
    .welcome-important-stuff{
        text-decoration: none;
    }

    .parallax-mobile{
        height: 30vh;
        width: 100vh;
        display: block;
        text-align: center;
    }
    .parallax{
        display: none;
    }

    .centered-btn{
        margin-top: 0vh;
    }
}